
<div class="module">

    <h2>
        📊 Store Overview
    </h2>

    <div style="padding:16px;">

        <div style="margin-bottom:14px;">
            <strong>Products</strong>
            <div style="font-size:28px;">
                {{ product_count }}
            </div>
        </div>

        <div style="margin-bottom:14px;">
            <strong>Sales Today</strong>
            <div style="font-size:28px;">
                {{ sales_today }}
            </div>
        </div>

        <div>
            <strong>Low Stock</strong>
            <div style="font-size:28px;">
                {{ low_stock }}
            </div>
        </div>

        <div>
            <strong>Inactive</strong>
            <div style="font-size:28px;">
                {{ inactive_product }}
            </div>
        </div>

        <div>
            <strong>Deleted</strong>
            <div style="font-size:28px;">
                {{ deleted_product }}
            </div>
        </div>

    </div>

</div>

<br>

<div class="module">

    <h2>
        ⚠️ Out of Stock Alerts
    </h2>

    <div style="padding:16px;">
        <p>
            {%for product in stock_out %}
            <li>{{ product.title }}</li>

            {% empty%}
            <li>No Out of stock product</li>

            {%endfor%}
        </p>
    </div>

</div>