{% extends 'admin/base_site.html' %}
{% load static %}
{% block extrastyle %}
{{ block.super }}

<link rel="stylesheet"
      href="{% static 'admin/custom_admin.css' %}">

{% endblock %}

{% block content %}


<table class="report-table">
    <thead>
        <tr>
            <th>Product</th>
            <th>Restore</th>
        </tr>
    </thead>

    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.title }}</td>

            <td>
                <a href="/admin/shop/product/{{ product.id }}/restore/">
                    ♻ Restore
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}