{% extends 'admin/base_site.html' %}
{% load static %}
{% block extrastyle %}
{{ block.super }}

<link rel="stylesheet"
      href="{% static 'admin/custom_admin.css' %}">

{% endblock %}

{% block content %}

<h1 class="p1">

📊 Reports

</h1>

<br>

<h2>

📦 Inventory Report

</h2>


<div class="cards">

<a href="/admin/shop/product/" class = "card-link">

<div class="card" style="background: rgb(67 149 67 / 0.55)">

<h3>

📦 Products

</h3>

<h1>{{ stock }}</h1>

</div>

</a>


<div class="card" style="background: #417690">
<a href="{% url 'admin:low_stock_report' %}" class = "card-link">

<h3>⚠️ Low Stock</h3>

<h1>

{{ low_stock }}

</h1>
</a>
</div>


<div class="card" style="background: rgb(227 112 124 / 0.47)">
<a href="{% url 'admin:out_of_stock_report' %}" class = "card-link">
<h3>❌ Out Of Stock</h3>

<h1>

{{ out_of_stock }}

</h1>
</a>
</div>


<div class="card" style="background: #555555">
<a href="{% url 'admin:inactive_report' %}" class = "card-link">
<h3>🚫 Inactive</h3>

<h1>

{{ inactive }}

</h1>
</a>
</div>


<div class="card" style="background: rgb(165 42 42 / 0.66)">
<a href="/admin/shop/product/deleted" class = "card-link">

<h3>🗑 Deleted</h3>

<h1>

{{ deleted }}

</h1>
</a>
</div>

</div>





<h2>

Revenue

</h2>

<p>

UGX {{ revenue }}


</p>



<h2>

Profit

</h2>

<p>

UGX {{ profit }}

</p>



<h2>

Top Selling Products

</h2>


<table class="report-table">

<tr>

<th>

Product

</th>

<th>

Sold

</th>

</tr>



{% for product in top_products %}

<tr>

<td>

{{ product.product__title }}

</td>

<td>

{{ product.sold }}

</td>

</tr>

{% endfor %}

</table>

<button class="no-print" onclick="window.print()">

🖨 Print

</button>



{% endblock %}